<ion-view id="products" view-title="Venues">
	<ion-content class="animate-fade-slide-in">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="vm.doRefresh()">
		</ion-refresher>
		<ion-list class="animate-fade-slide-in-right">
			<ion-item
				class="item-thumbnail-left item-text-wrap ink"
				ng-repeat="location in vm.products | filter:searchText" ng-click="vm.navigate(location.id)">
				<img ng-src="{{article.thumb}}">
				<h2>{{location.name}}</h2>
				<p>{{location.description}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
