<ion-view>
 	<ion-nav-title>
     	{{vm.header}}
    </ion-nav-title>
	<ion-content>
	 <div class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchText">
    </div>
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="vm.doRefresh()">
		</ion-refresher>

		<ion-list class="animate-fade-slide-in-right">
			<ion-item
				class="item-thumbnail-left item-text-wrap ink"
				ng-repeat="article in vm.articles | filter:searchText" ng-click="vm.navigate(article.id)">
				<img ng-src="{{article.thumb}}">
				<h2><b>{{article.name}}</b> - {{article.type}}</h2>
				<h4>{{article.day}} {{article.start | amDateFormat:'HH:mm'}} - {{article.end | amDateFormat:'HH:mm'}} - {{article.location}}</h4>
				<p>{{article.description | limitTo: 40}}{{article.description.length > 40 ? '...' : ''}}</p>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>
