<ion-view view-title="Artist" >
	<ion-content class="has-header expanded">
		<div class="mid-bar dark-bg z1 padding">
			<div class="row">
				<div class="col col-75">
					<img class="block" ng-src="{{vm.article.thumb}}" />
					<h3>{{vm.article.name}}</h3><br>{{vm.article.tags}}</div>
			</div>
		</div>
		<div class="content-inner">
			<p>{{vm.article.description}}</p>
		</div>
	</ion-content>
	<a class="button button-fab button-fab-bottom-right button-balanced" href="#" ng-click="vm.share(vm.article)">
		<i class="icon ion-share" style="vertical-align: top;"></i>
	</a>
	<a class="button button-fab button-fab-bottom-left button-balanced" href="#" ng-click="vm.favourite(vm.article)">
		<i class="icon ion-heart" style="vertical-align: bottom;"></i>
	</a>
</ion-view>
